@font-face {
  font-family: 'asFont';
  src: url('../fonts/asFont.eot');
  src: url('../fonts/asFont.eot') format('embedded-opentype'), url('../fonts/asFont.woff') format('woff'), url('../fonts/asFont.ttf') format('truetype'), url('../fonts/asFont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="asIcon-"],
[class*=" asIcon-"] {
  font-family: 'asFont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.asIcon-search:before {
  content: "\e600";
}
.asIcon-chevron-right:before {
  content: "\e601";
}
.asIcon-chevron-left:before {
  content: "\e602";
}
.asIcon-check:before {
  content: "\e603";
}
.asIcon-caret-down:before {
  content: "\e604";
}
.asIcon-calendar:before {
  content: "\e606";
}
.asIcon-caret-up:before {
  content: "\e605";
}
.asIcon-text_left:before {
  content: "\e608";
}
.asIcon-text_center:before {
  content: "\e609";
}
.asIcon-text_right:before {
  content: "\e60a";
}
.asIcon-unsorted:before {
  content: "\e607";
}
.asIcon-text_lowercase:before {
  content: "\e60d";
}
.asIcon-font_italy:before {
  content: "\e60b";
}
.asIcon-text_uppercase:before {
  content: "\e60c";
}
.asIcon-text_underline:before {
  content: "\e60e";
}
.asIcon-text_linethrough:before {
  content: "\e610";
}
.asIcon-text_capitalize:before {
  content: "\e60f";
}
.asIcon-angle-up:before {
  content: "\e611";
}
.asIcon-angle-down:before {
  content: "\e612";
}
.asIcon-no-repeat:before {
  content: "\e613";
}
.asIcon-repeat:before {
  content: "\e614";
}
.asIcon-repeat-y:before {
  content: "\e616";
}
.asIcon-repeat-x:before {
  content: "\e615";
}
.asIcon-bg-top-left:before {
  content: "\e617";
}
.asIcon-bg-top-center:before {
  content: "\e618";
}
.asIcon-bg-top-right:before {
  content: "\e619";
}
.asIcon-bg-center-left:before {
  content: "\e61a";
}
.asIcon-bg-center-center:before {
  content: "\e61b";
}
.asIcon-bg-center-right:before {
  content: "\e61c";
}
.asIcon-bg-bottom-left:before {
  content: "\e61d";
}
.asIcon-bg-bottom-center:before {
  content: "\e61e";
}
.asIcon-bg-bottom-right:before {
  content: "\e61f";
}
.asIcon-adapt-height:before {
  content: "\e620";
}
.asIcon-adapt-width:before {
  content: "\e621";
}
.asIcon-adapt-auto:before {
  content: "\e622";
}
.asIcon-adapt-all:before {
  content: "\e623";
}
.asIcon-image:before {
  content: "\e624";
}
.asIcon-file:before {
  content: "\e625";
}
.asIcon-minus:before {
  content: "\e626";
}
.asIcon-times:before {
  content: "\e627";
}
.asIcon-plus:before {
  content: "\e628";
}
.asIcon-drag:before {
  content: "\e629";
}
.asItemList-wrapper {
  position: relative;
  background-color: #fff;
  width: 310px;
}
.asItemList-addItem {
  display: block;
  padding: 10px 0;
  color: #687175;
  font-size: 14px;
  font-family: 'asFont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  cursor: pointer;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.asItemList-addItem > i {
  margin-right: 10px;
  color: #d0d8db;
  font-style: normal;
  vertical-align: middle;
}
.asItemList-addItem > i:before {
  content: "\e628";
}
.asItemList-addItem:hover {
  text-decoration: none;
}
.asItemList-list {
  margin: 6px 0 0;
  padding: 0;
  list-style: none;
}
.asItemList-list li {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
}
.asItemList-list li .asItemList-drag {
  display: inline-block;
  width: 13%;
  height: 100%;
  color: #aaa;
  font-family: 'asFont';
  font-size: 16px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  cursor: move;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.asItemList-list li .asItemList-drag:before {
  content: "\e629";
}
.asItemList-list li .asItemList-item {
  display: inline-block;
  width: 74%;
  cursor: pointer;
}
.asItemList-list li .asItemList-item > i {
  width: 32px;
  margin-right: 20px;
  color: #9ea6a9;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
}
.asItemList-list li .asItemList-item > span {
  color: #687175;
}
.asItemList-list li .asItemList-remove {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 13%;
  color: #d0d8db;
  font-family: 'asFont';
  font-size: 20px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.asItemList-list li .asItemList-remove:before {
  content: "\e627";
}
.asItemList-list li.asItemList_hover {
  background-color: #f3f5f7;
}
.asItemList-list li.asItemList_hover .asItemList-remove {
  display: inline-block;
}
.asItemList-back,
.asItemList-save {
  width: 69px;
  height: 34px;
  margin: 30px 0;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
}
.asItemList-back {
  float: left;
  color: #c4c6cc;
}
.asItemList-save {
  float: right;
  color: #fff;
  background-color: #5cafda;
}
